body {
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}

#topMenu {
    display: flex;
    background-color: #3A3A3A;
    margin: 0;
    align-items: center;
    justify-content: flex-end;

}

#topMenu li {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
}



.avatar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: #ffffff;
    background-color: black;
    height: 50px;
    width: 50px;
    border-radius: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 3.4em;

}

.avatar__imagem {
    max-height: 90%;
    max-width: 90%;
    border-radius: 50%;

}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornsilk;

}

.img-backgroud {
    width: 100%;
    object-fit: cover;
    height: 20vh;
}

.avatar2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 58px;
    color: #ffffff;
    background-color: black;
    height: 4em;
    width: 4em;
    border-radius: 200%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title_description{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10%;
    margin-right: 20%;
    margin-left: 20%;

}

.space{
    width: 100%;
    height: 40vh;
    background-color: white;
}
.img-stwuar{
    margin-right: 4%;
}

.title-job{
    margin: 0;
    padding: 0;
}
.text-title{
    padding-top: 110px;
}

.formacao h5{
    font-size: 2em;
    padding-top: 10px;;
}

.formacao{
    width: 100%;
    height: 25vh;
    background-color: #DEDEDE;
}

.formacao-margin{
    margin-left: 20%;
}


.experiencia h5{
    font-size: 2em;
    padding-top: 10px;;
}

.experiencia{
    color: white;
    margin-top: -53px;
    width: 100%;
    height: 25vh;
    background-color: #434343;
}

.experiencia-margin{
    margin-left: 20%;
}

.projetos h5{
    font-size: 2em;
    padding-top: 10px;;

}

.projetos{
    margin-top: -53px;
    width: 100%;
    height: 60vh;
    background-color: #F2F2F2;
}

.projetos-margin{
    margin-left: 20%;
}
.carts{
    display: flex;
}

.projeto{
    border: 1px solid black;
    width: 220px;
    margin-right: 5%;

}

.projeto h6{
    margin-left: 4%;
}

.projeto p {
    margin-left: 4%;

}

.buttons{
    text-align: center;
    margin-bottom: 4%;

}


.img-projetos{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    overflow: hidden;
    background-color: #3A3A3A;
    margin-left: 4%;
    margin-top: 4%;
}

.contato{
    display: flex;
    position: absolute;
    top: 1300px;
    text-align: center;
    font: normal normal normal 60px/28px Segoe UI;
   left: 000px;
    margin-top: 0%;
    width: 100vw;
    height: 60vh;
    color: #000;
    background-color: #000000;
}

.contato-display {
    position: absolute;
    top: 70px;
    left: 150px;
    width: 100vw;
    height: 300px;
     /* UI Properties */
    text-align: left;
    font: normal normal normal 21px/28px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    display: flex;
}

.social-menu {
    display: flex;
    list-style-type: none;
    
  }
   
  .social-menu i {
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 25px;
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
  }
  
  .social-menu i:before {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  
  .social-menu a {
    text-decoration: none;
  }
  
  .fa-facebook {
    background:#3b5998
  } 
  
  .fa-linkedin {
    background:#007bb6
  }
  
  .fa-twitter {
    background:#00aced
  }
  
  .fa-instagram {
    background:#9b3f6f
  }
  

  .social-menu i:hover {
    opacity: .7;
    border-radius: 0;
  }

  .barra{
    position: relative;
    display: block;
    width: 100%;
  }

  .warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: red;
    padding-top: 20px;
  }

  
  

